.IntervalSelector {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;

    &-badge-wrapper {
        display: flex;
        justify-content: center;
    }

    &-badge {
        position: absolute;
        top: 28px;
    }
}
