@import './styles/mixins';

.App {
    margin: 50 auto;

    &-title {
        text-align: center;

        &.ka {
            font-size: 0.9em;
        }
    }

    &-intervals {
        @include flex-ccc;
        margin: 30px 10px;
        flex-direction: column;

        &-interval {
            margin: 5px;
        }

        &-buttons {
            @include flex-ccc;
            margin-top: 10px;
            flex-wrap: wrap;
            gap: 20px;
        }
    }

    &-result {
        @include flex-ccc;
        flex-direction: column;
        flex-wrap: wrap;

        &-days {
            border-radius: 5px;
            padding: 10px;

            &.ka {
                font-size: 0.9em;
            }

            &.safe {
                background-color: greenyellow;
            }

            &.warning {
                background-color: orange;
            }

            &.danger {
                background-color: red;
            }
        }

        &-breakdown {
            margin-top: 50px;

            &.ka {
                font-size: 0.9em;
            }
        }
    }

    &-disclaimer {
        @include flex-ccc;
        margin: 50px;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 0.9em;

        &.ka {
            font-size: 0.8em;
        }
    }
}
